@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lexend+Deca&family=Raleway:wght@700&display=swap");
@import url("https://css.gg/trending.css");

.dataDisplay {
  width: 70%;
  display: flex;
  margin: 2.5%;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
  color: white;
}

h1 {
    font-size: 30px;
}

.featuredData {
  flex: 1;
  padding: 0.75rem;
}

.featuredData img{
    margin-left: 15rem;
    margin-top: 1.75rem;
    width:55px;
    border-radius: 9px;
}

.dataInformation {
  font-size: 18px;
  font-family: "Lexend Deca", sans-serif;
}

.dataStatistics {
    font-size: 20px;
}

.dataCatergory {
  font-size: 15px;
  font-family: "Inter", sans-serif;
  display: block;
  color: hsla(0, 0%, 100%, 0.6);
}
